article>*:not(.entry-content),
.entry-content>* {
    @apply mx-auto max-w-content;
}

.entry-content,
.block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;


    }

    h3 {
        @apply text-lg;
        

    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply font-josefin; /* Use the Tailwind utility class */
    }

    b,
    p,
    ul,
    ol {
        
        /* @apply mb-8; */
        @apply font-josefin; 
        @apply text-xl;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

/* Hover underline effect for navigation links */


.group a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    /* Height of the underline */
    background-color: currentColor;
    /* Color of the underline */
    width: 0;
    /* Initial width */
    transition: width 0.15s ease, left 0.15s ease;
    /* Transition effect */
}

.group:hover a::after {
    width: 100%;
    /* Full width on hover */
    left: 0;
    /* Move to the left */
}