@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}



/* Fade in animation for content template */
.entry-content {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



/* Custom background overlay */
body.custom-background {
    position: relative;
    height: 100%;
}

body.custom-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -2;
}



/* Hamburger icon animation */
.hamburger-icon {
    width: 2.5rem;
    height: 0.25rem;
    background-color: #f3f4f6;
    border-radius: 9999px;
    transition: all 0.05s;
    position: relative;
}

.hamburger-icon::before {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.25rem;
    background-color: #f3f4f6;
    border-radius: 9999px;
    transform: translateY(-1rem);
    transition: all 0.15s;
}

.hamburger-icon::after {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.25rem;
    background-color: #f3f4f6;
    border-radius: 9999px;
    transform: translateY(1rem);
    transition: all 0.15s;
}



/* Mobile menu animation */
.mobile-menu {
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease;
}

.mobile-menu-open {
    z-index: 1;
    height: 100vh;
}

.menu-content {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.mobile-menu-open .menu-content {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.1s;
}


/* Animation class for mobile nav wrapping */
.grid-rows-transition {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s ease;
}

/* Mobile submenu animation */
.mobile-submenu {
    overflow: hidden;
}

.mobile-submenu-open {
    z-index: 1;
    grid-template-rows: 1fr;
}


.menu-indicator {
    font-weight: bold;
    color: inherit;
    margin-left: 10px;
    transition: transform 0.3s ease;
    position: absolute;
    margin-top: 0.6rem;
}

.rotate {
    transform: rotateX(180deg);
}


/* Primary menu animations */
.primary-parent-li {
    position: relative;
    min-width: 13rem;
    max-width: 13rem;
    height: 3rem;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 100ms;
}

.primary-parent-li:hover {
    background-color: #d1d5db;
    color: black;
    text-decoration: underline;
}

.group:hover .primary-parent-li {
    background-color: #f3f4f6;
    color: black;
    border-bottom: 1px solid #d1d5db;
    z-index: 10;
}

.hover-background-animation {
    position: absolute;
    display: block;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    /* Initially hidden */
    max-width: 13rem;
    min-width: 13rem;
    overflow: hidden;
    transition: transform 100ms ease-in-out;
    /* Transition for background */
    transform-origin: top;
    will-change: transform;
}

.group:hover .hover-background-animation {
    transform: translateX(-50%) scaleY(1);
}

.hover-background-animation a {
    display: block;
    transform: scaleY(0);
    /* Hide the text initially */
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    transform-origin: top;
    margin-left: 1rem;
    text-align: left;
    z-index: 10;
}

.group:hover .hover-background-animation a {
    transform: scaleY(1);
    /* Show text on hover */
    opacity: 1;
}

.group:hover .hover-background-animation a {
    visibility: visible;
    /* Ensure text is visible only when background is scaled */
    transition: opacity 100ms ease-in-out 100ms;
    /* Delay text opacity to start after background */
}



/* Secondary menu animations */
.secondary-parent-li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 10px;
    height: 2px;
    background-color: currentColor;
    width: 0;
    transition: width 0.15s ease, left 0.15s ease;
}

.secondary-parent-li:hover a::after {
    width: 100%;
    left: 0;
}