@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.mobile-menu {
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease;
  }
  
.mobile-menu-open {
    z-index: 1;
    height: 100vh; /* Adjust height according to content */
  }

  .menu-content {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .mobile-menu-open .menu-content {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.1s; /* Delays content animation until menu is expanded */
  }

.entry-content {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

body.custom-background {
    position: relative;
    height: 100%;
}

body.custom-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9); /* Adjust the opacity as needed */
    z-index: -2; /* Ensure the overlay is behind the content */
}

/* Hover underline effect for navigation links */


.groupa a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 10px;
    height: 2px;
    /* Height of the underline */
    background-color: currentColor;
    /* Color of the underline */
    width: 0;
    /* Initial width */
    transition: width 0.15s ease, left 0.15s ease;
    /* Transition effect */
}

.groupa:hover a::after {
    width: 100%;
    /* Full width on hover */
    left: 0;
    /* Move to the left */
}

.secondary-li-class-parent-desktop {
    position: relative;
    min-width: 13rem;
    max-width: 13rem;
    height: 3rem;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 100ms;
}

.secondary-li-class-parent-desktop:hover {
    background-color: #d1d5db; /* hover:bg-gray-300 */
    color: black;
    text-decoration: underline;
}

.group:hover .secondary-li-class-parent-desktop {
    background-color: #f3f4f6;
    color: black;
    border-bottom: 1px solid #d1d5db;
    z-index: 10;
}

.hover-background-animation {
    position: absolute;
    display: block;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) scaleY(0); /* Initially hidden */
    max-width: 13rem;
    min-width: 13rem;
    overflow: hidden;
    transition: transform 100ms ease-in-out; /* Transition for background */
    transform-origin: top;
    will-change: transform;
}

.group:hover .hover-background-animation {
    transform: translateX(-50%) scaleY(1);
}

.hover-background-animation a {
    display: block;
    transform: scaleY(0); /* Hide the text initially */
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    transform-origin: top; /* Animate from the top */
    margin-left: 1rem;
    text-align: left;
    z-index: 10;
}

.group:hover .hover-background-animation a {
    transform: scaleY(1); /* Show text on hover */
    opacity: 1; /* Make text visible */
}

.group:hover .hover-background-animation a {
    visibility: visible; /* Ensure text is visible only when background is scaled */
    transition: opacity 100ms ease-in-out 100ms; /* Delay text opacity to start after background */
}