/* assets/css/fonts.css */

/* Josefin Slab Variable Fonts */
@font-face {
    font-family: 'Josefin Slab';
    src: url('../../assets/fonts/JosefinSlab-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    /* Variable weight range */
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Slab';
    src: url('../../assets/fonts/JosefinSlab-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    /* Variable weight range */
    font-style: italic;
}

/* Teko Variable Font */
@font-face {
    font-family: 'Teko';
    src: url('../../assets/fonts/Teko-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    /* Variable weight range */
    font-style: normal;
}


